body{
  background-color: white;
}

#logo{
  width:90%;
}

.funny-text{
  font-family: 'Kaushan Script', cursive;
  font-weight: bolder;
}

li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  